// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/example-callout';
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';
@import 'components/task-list';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

li code,
p code,
td code {
  background-color: $color_nhsuk-white;
  color: #d14; // sass-lint:disable-line no-color-hex no-color-literals
  padding: 2px nhsuk-spacing(2);
  word-break: break-word;
}
