// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/example-callout';
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

li code,
p code {
  background: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
  font-size: 0.8em;
}
