<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Tag
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-l">
          Component
          <span class="nhsuk-u-visually-hidden"> - </span>
        </span>
        Tag
      </h1>

      <div class="app-example app-example--content">
        <strong class="nhsuk-tag nhsuk-tag--grey app-example__heading">Example</strong>
        <strong class="nhsuk-tag">
          Submitted
        </strong>
      </div>

      <p><a href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/174">Backlog issue 174</a></p>

      <h2 id="when-to-use-this-component">When to use this component</h2>
      <p>Use the tag component to indicate the status of something, such as an item on a <a href="/task-list">task list</a>.</p>

      <h2 id="using-multiple-tags">Using multiple tags</h2>
      <p>You can use multiple tags for things that have multiple states. For example, items in a <a href="/task-list">task list</a>.</p>
      <p>Tags should help people to organise things into useful categories: for example, things they’ve done and things they still need to do. The more categories you add, the harder it is for users to remember them. So start with the fewest number of tags you think might work, then add more if your user research shows there’s a need for them.</p>

      <h2 id="using-coloured-tags">Using coloured tags</h2>
      <p>You can use colour to help distinguish between different tags - or to help draw the user’s attention to a tag if it’s especially important. For example, it probably makes sense to use  ´nhsuk-tag–red´ for a tag that reads ‘Urgent’.</p>
      <p>Tags that have the same wording should use the same colour. <a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html">Do not use colour alone to convey information</a> because it’s not accessible.</p>

      <table class="nhsuk-table">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col"> Class name </th>
            <th class="nhsuk-table__header" scope="col"> Tag </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag">
                Submitted
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--white </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--white">
                Started
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--grey </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--grey">
                Not started
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--green </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--aqua-green </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--aqua-green">
                Active
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--blue </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--blue">
                Pending
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--purple </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--purple">
                Received
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--pink </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--pink">
                Sent
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--red </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--red">
                Rejected
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--orange </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--orange">
                Declined
              </strong>
            </td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <code> nhsuk-tag--yellow </code>
            </td>
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--yellow">
                Delayed
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 id="accessibility">Accessibility</h2>
      <p>All contrasts between text and background meet level AAA of WCAG 2.0. Read more about <a href="https://service-manual.nhs.uk/design-system/styles/colour#accessibility">accessibility and colour</a>.</p>

      <h2 id="research-on-this-component">Research on this component</h2>
      <h3>GOV.UK</h3>
      <p>The Department for Education use the coloured tags in:</p>
      <ul>
        <li>apply for teacher training (used by citizens)</li>
        <li>manage teacher training applications (used by teacher training providers)</li>
      </ul>
      <p>The Apply for teacher training services at Department for Education used the Tag component extensively. But the colours (white text on colour background) were found to have poor contrast in an accessibility DAC audit. They solved this by using tints.</p>
      <h3>NHS.UK</h3>
      <p>This Tag component has not yet been tested in an NHS service. We are looking for teams willing and able to test this approach in user research (or in their service)?</p>
      <p><a class="app-contact-panel__link" href="https://github.com/nhsuk/nhsuk-service-manual-backlog/issues/174">Share research or feedback about the Tag component on GitHub</a>.</p>
      
      <h2>NHS teams using tags</h2>
      <p>The existing tags could be updated to these styles.</p>
      <h3>eReferral service</h3>
      <div class="app-example app-example--content app-example--no-tag">
        <p><strong class="nhsuk-tag nhsuk-tag--white">
          Triage only
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--green">
          Good capacity
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--red">
          Limited capacity
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--blue">
          Waiting for response
        </strong></p>
      </div>

      <h3>'Submit your electronic declaration' service</h3>
      <div class="app-example app-example--content app-example--no-tag">
        <p><strong class="nhsuk-tag nhsuk-tag--grey">
          Not started
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--white">
          Started
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--blue">
          Ready to submit
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag">
          Submitted
        </strong></p>
      </div>

      <h3>R+D signoff</h3>
      <div class="app-example app-example--content app-example--no-tag">
        <p><strong class="nhsuk-tag nhsuk-tag--yellow">
          Awaiting signoff
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--green">
          Signed-off
        </strong></p>
        <p><strong class="nhsuk-tag nhsuk-tag--red">
          Flagged
        </strong></p>
      </div>

    </div>
  </div>
{% endblock %}
